.apartadoAcercaDe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
  
  background: linear-gradient(90deg, rgba(0, 108, 196, 0.35), rgba(0, 43, 83, 0.35));
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  
  border-radius: 15px;
  margin-bottom: 1em;
  margin-top: 2em;
}
.quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.3em;
  padding: 0em 1em;
  width: 100%;
}
.quienesSomos p {
  font-size: 1.2em;
}
.dondeEstamos p {
  font-size: 1.2em;
  margin-bottom: 0px;
}
iframe {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 2em;
}
.dondeEstamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5em;
  padding: 0em 1em;
  width: 100%;
  margin-bottom: 0px;
}
.apartadoAcercaDe:last-of-type {
  flex-direction: column;
  margin-bottom: 4em;
}
.logoImg {
  border-radius: 50%;
  height: auto;
  width: 15em;
  margin: 0.5em 0 2em 0;
}

@media (width > 1400px) {
  .apartadoAcercaDe {
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }
  .quienesSomos {
    text-align: left;
    align-items: left;
    width: 40%;
  }
  .logoImg {
    width: 25em;
    margin: 1em 0;
  }
  iframe {
    width: 100%;
    border-radius: 15px;
    margin: 2em;
  }
  .mapaIframe {
    width: 80%;
  }
  html {
    overflow-x: hidden;
  }
  .groupFooter {
    width: 100vw;
    margin-left: 0;
  }
}
