:root {
    --primary: #011627;
    --Background: linear-gradient(
      90deg,
      hsla(209, 71%, 12%, 1) 0%,
      hsla(208, 64%, 17%, 1) 32%,
      hsla(208, 57%, 25%, 1) 52%,
      hsla(207, 65%, 36%, 1) 79%,
      hsla(207, 51%, 50%, 1) 100%,
      hsla(217, 63%, 56%, 1) 100%
    );
  }
  h1,
  h2,
  h3,
  h5,
  p,
  a,
  label,
  .btnSubmit{
    font-family: "Roboto light", "Roboto Flex";
    color: white;
  }
  /*Reset*/
  body,
  html {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: #000a14;
  }
  a {
    text-decoration: none;
    color: white;
    transition: .5s;
  }
  a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  /*Barra de Navegacion*/
nav {
    background: var(--Background);
    height: auto;
  }
  a h2 {
    padding-left: 3em;
    font-size: 1.2em;
    margin: 2em 0px 2em 0px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.842);
  }
  #aHome {
    margin-left: 4em;
  }
  li a {
    margin-left: 3em;
  }
  li {
    font-size: 1.5em;
    text-align: center;
  }
  li a:hover {
    text-decoration: underline;
  }
  @media (width < 476px) {
    a h2 {
      font-size: .9em;
    }
  }
  @media (width < 1400px) {
    #aHome {
      margin-left: 0px;
    }
    a h2 {
      padding-left: 0px;
    }
    li {
      border-top: 1px solid white;
    }
    li a {
      margin-left: 0em;
    }
  }
  /*Barra de Navegacion--FIN*/
  /*Form-Inicio*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 34, 65, 0.774);
    width: 40vw;
    margin: 4em 2em;
    text-align: center;
    border-radius: 15px;;
  }
  #formCorreo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form{
    width: 70%;
  }
  form input, form textarea{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.089);
    border:none;
    width: 100%;
    color: white;
  }
  .btn{
    color: white;
  }
  form label{
    font-size: 1.3em;
    padding: .5em
    ;
  }
  .form-content h2{
    margin-top: 1em;
  }
  hr{
    width: 90%;
    color: white;
 
  }
  .btnSubmit{
    background-color: #006cc4;
    width: 50%;
    height: 3em;
    margin: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
  }
  .btnSubmit:hover{
    display: block;
    background-color: black;
    transition: .5s;
  }
  @media(width < 1400px){
    .form-content{
      width: 95%;
      margin-top: 2em;
    }
    textarea{
      min-width: 100%;
    }
    input{
      width: 100%;
    }
  }
  /*Form-fin*/
  /*Map.Inicio*/
  .apartadoMapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #map{
    width: 70vw;
    height: 30em;
    margin-bottom: 5em;
    margin-top: 1em;
    border-radius: 30px;
  }
   /*Map.Fin*/

  /*Footer*/
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .groupFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apartadoFooter {
    border: 1px solid rgb(169, 255, 255) ;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: .5em;
    padding-bottom: 1em;
  }
  .apartadoFooter:first-of-type{
    border-top: 1px solid rgb(169, 255, 255) ;
  }
  footer svg {
    width: 2.5em;
    height: auto;
    margin-right: .5em;
  }
  .bi {
    width: 1.5em;
  }
  footer h1 {
    color: white;
    font-size: 1.6em;
    margin: 1em 0px 1em 0px;
    border-bottom: 1px solid;
    border-color: white;
  }
  footer h3 {
    margin-left: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  footer p {
    margin-left: .8em;
  }
  footer p {
    background-color: inherit;
    box-shadow: none;
  }
  a {
    text-decoration: none;
    color: white;
    transition: .5s;
  }
  .apartadoSobreElSitio a:hover {
    text-decoration: underline;
    color: white;
    margin-left: .3em;
    transition: .5s;
  }
  
  #pCopyright {
    font-size: 0.9em;
    padding: 1.2em;
    padding-top: 1.5em;
  }
  footer button {
    margin: 0.5em;
    width: 40%;
  }
  footer button:hover {
  width: 43%;
  transition: .5s;
  }
  .botonesFooter{
    margin-bottom: .5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer hr{
    width: 97%;
    color: rgb(169, 255, 255) ;
    opacity: 100%;
    display: none;
  }
  #botonMapsWaze{
    width: 100%;
  }
  footer p{
    padding-bottom: 1em;
  }
  @media (width > 1400px) {
    .groupFooter{
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 2em;
    }
    .botonesFooter{
      flex-direction: column;
    }
    .apartadoFooter{
    align-items: center;
    height: 17em;
    width: 22%;
    border: none;
    border-right: 1px solid rgba(169, 255, 255, 0.164);
    }
    .apartadoFooter:first-of-type{
      border: none;
      border-right: 1px solid rgba(169, 255, 255, 0.164);
    }
    .apartadoFooter:last-of-type{
      border: none;
    }
    footer h3{
      margin: 0px;
      margin-bottom: 1em;
    }
    footer p{
      margin: 0px;
    }
    footer hr{
    display: block;
    }
    #pCopyright {
      padding-bottom: 2em;
    }
  
  }
  
  /*Footer FIN*/