.datosAutor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 1em;
}
img{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 1.5em;
}
h3{
    margin-bottom: 1em;
    border-bottom: 1px solid white;
    font-weight: 600;
}
.datosAutor h3:last-of-type{
    margin-bottom: 3em;
}
@media (width < 1400px) {
    img{
        width: 90%;
    }
}